body {
  background-image: url(https://images.squarespace-cdn.com/content/v1/650b9001c430761af531353f/1695256586693-RY880V2JKDQSF4Z708ZE/YOUTUBE+THUMBNAILS+-+CRYPTO+NEWS+%282500+%C3%97+1000+px%29+%282500+%C3%97+1500+px%29+%283%29.png);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
